.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.button {
  padding: 4px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--pagination-button-background-color);
  border: 1px solid var(--button-border);
}

.button:disabled:hover {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 16px;
  margin: 0 10px;
  user-select: none;
}
