.app {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

.footer {
  height: 24px;
}

.search-bar {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.error {
  color: rgb(173, 0, 95);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error button {
  width: auto;
}

input {
  font-size: 1.2rem;
  border-radius: 12px;
  color: #26172c;
  padding: 5px 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 12px rgba(173, 173, 173, 0.5);
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

input:focus {
  border-color: #66afe9;
  box-shadow: 0 2px 8px rgba(102, 175, 233, 0.6);
  outline: none;
}

button {
  font-size: 1.2rem;
  border-radius: 12px;
  padding: 8px 12px;
  border: none;
  border: 1px solid transparent;
  box-shadow: 0 0 12px rgba(173, 173, 173, 0.5);
  background-color: #f7f7f7;
  color: #26172c;
  cursor: pointer;
  transition:
    border-color 0.5s,
    box-shadow 0.5s,
    background-color 0.5s,
    color 1s;
}

button:hover {
  background-color: #5e3a5e;
  border: 1px solid white;
  color: white;
}

button:focus {
  border-color: #4e5962;
  box-shadow: 0 2px 8px rgba(102, 175, 233, 0.6);
  outline: none;
}

button:disabled,
button:disabled:hover {
  background-color: #cccccc;
  cursor: not-allowed;
}

@keyframes neonGlow {
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ff4da6,
      0 0 15px #ff4da6,
      0 0 20px #ff4da6,
      0 0 25px #ff4da6,
      0 0 30px #ff4da6,
      0 0 35px #ff4da6;
  }
  50% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #ff4da6,
      0 0 30px #ff4da6,
      0 0 40px #ff4da6,
      0 0 50px #ff4da6,
      0 0 60px #ff4da6,
      0 0 70px #ff4da6;
  }
  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ff4da6,
      0 0 15px #ff4da6,
      0 0 20px #ff4da6,
      0 0 25px #ff4da6,
      0 0 30px #ff4da6,
      0 0 35px #ff4da6;
  }
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes randomGlow {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}

.header {
  animation:
    neonGlow 1.5s ease-in-out infinite alternate,
    randomGlow 3s ease-in-out infinite;
}

.content {
  display: flex;
  flex: 1;
}

.left-section {
  flex: 1;
  margin-right: 20px;
}

.right-section {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.detailed {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.error-button-wrapper {
  display: flex;
  justify-content:end;
  flex-direction: column;
  align-items: center;
  height: 54px;
}
.error-button-wrapper button {
  height: auto;
  width: auto;
}