.app {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  user-select: none;
}

.footer {
  height: 24px;
}

.search-bar {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.error {
  color: rgb(173, 0, 95);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error button {
  width: auto;
}

@keyframes neonGlow {
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ff4da6,
      0 0 15px #ff4da6,
      0 0 20px #ff4da6,
      0 0 25px #ff4da6,
      0 0 30px #ff4da6,
      0 0 35px #ff4da6;
  }
  50% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #ff4da6,
      0 0 30px #ff4da6,
      0 0 40px #ff4da6,
      0 0 50px #ff4da6,
      0 0 60px #ff4da6,
      0 0 70px #ff4da6;
  }
  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ff4da6,
      0 0 15px #ff4da6,
      0 0 20px #ff4da6,
      0 0 25px #ff4da6,
      0 0 30px #ff4da6,
      0 0 35px #ff4da6;
  }
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes randomGlow {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}

.header {
  animation:
    neonGlow 1.5s ease-in-out infinite alternate,
    randomGlow 3s ease-in-out infinite;
}

.content {
  display: flex;
  flex: 1;
}

.left-section {
  flex: 1;
  margin-right: 20px;
}

.right-section {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.error-button-wrapper {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  height: 54px;
}
.error-button-wrapper button {
  height: auto;
  width: auto;
}
