@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: transparent;
}

.spinner {
  position: relative;
  width: 100px;
  height: 100px;
}

.spinnerCircle {
  width: 140px;
  height: 140px;
  border: 10px solid #ff4da6;
  border-top: 10px solid #fff;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  box-shadow: 0 0 20px #ff4da6;
}

.spinnerText {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-shadow:
    0 0 10px #ff4da6,
    0 0 20px #ff4da6,
    0 0 30px #ff4da6;
}
