.dark {
  --text-color: rgba(204, 204, 204, 0.75);
  --bg-color: #270b26;
  --input-border: #444;
  --input-shadow: rgba(0, 0, 0, 0.5);
  --button-bg: #2d2d2d;
  --button-hover-bg: #5e3a5e;
  --button-hover-color: white;
  --header-bg: #1e1e1e;
  --header-color: #ffffff;
  --card-bg: #2d2d2d;
  --card-color: #ffffff;
  --border-color: #444;
  --neon-glow: #ff4da6;
  --card-background-color:  rgb(47, 28, 53);
  --card-border-color: #ddd;
  --card-text-color:  #747474;
  --card-header-text-color: white;
  --index-card-background-color: rgba(108, 85, 116, 0.75);
  --index-text-color:  var(--text-color);
  --index-border-color: transparent;
  --button-border: transparent;
  --pagination-button-background-color: #80266e;
  color: rgba(204, 204, 204, 0.75);
  background-color: #270b26;
  padding: 15px;
  height: 100%;
  min-height: 100vh;
}

.light {
  --text-color: #26172c;
  --bg-color: #ffffff;
  --input-border: var(--index-border-color);
  --input-shadow: rgba(173, 173, 173, 0.5);
  --button-bg: #f7f7f7;
  --button-hover-bg: #5e3a5e;
  --button-hover-color: white;
  --header-bg: #f0f0f0;
  --header-color: #ffffff;
  --card-bg: #f9f9f9;
  --card-color: #000000;
  --border-color: #ccc;
  --neon-glow: #ff0080;
  --card-background-color: rgb(224, 180, 215);
  --card-border-color: #4e4e4e;
  --card-text-color: #26172c;
  --card-header-text-color: rgb(0, 0, 0);
  --index-card-background-color: rgba(255, 255, 255, 0.75);
  --index-text-color:  #26172c;
  --index-border-color: #26172c;
  --button-border: var(--index-border-color);
  --pagination-button-background-color: #c48cb9;
  color: rgba(29, 29, 29, 0.75);
  background-color: #ffeefc;
  padding: 15px;
  height: 100%;
  min-height: 100vh;
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color-scheme: light dark;
  margin: -10px;
  margin-right: -24px;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #270b26;
}

::-webkit-scrollbar-thumb {
  background-color: #68344d;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7c507a;
}

input {
  font-size: 1.2rem;
  border-radius: 12px;
  color: var(--text-color);
  padding: 5px 10px;
  border: 1px solid var(--input-border);
  box-shadow: 0 2px 12px var(--input-shadow);
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

input:focus {
  border-color: var(--input-focus-border);
  box-shadow: 0 2px 8px var(--input-focus-shadow);
  outline: none;
}

button {
  font-size: 1.2rem;
  border-radius: 12px;
  padding: 8px 12px;
  border: none;
  border: 1px solid var(--button-border);
  box-shadow: 0 0 12px var(--input-shadow);
  background-color: var(--button-bg);
  color: var(--button-color);
  cursor: pointer;
  user-select: none;
  transition:
    border-color 0.5s,
    box-shadow 0.5s,
    background-color 0.5s,
    color 1s;
}

button:hover {
  background-color: var(--button-hover-bg);
  border: 1px solid white;
  color: var(--button-hover-color);
}

button:focus {
  border-color: var(--button-focus-border);
  box-shadow: 0 2px 8px var(--input-focus-shadow);
  outline: none;
}

button:disabled,
button:disabled:hover {
  background-color: var(--button-disabled-bg);
  cursor: not-allowed;
}